services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD : root
      MYSQL_DATABASE : numericalmethod
    ports:
      - "3307:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
      - ./numericalmethod.sql:/docker-entrypoint-initdb.d/numericalmethod.sql
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","localhost"]
      interval  : 5s
      retries : 10
      timeout : 2s
    networks:
      - app_network
      
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=numericalmethod
      - DB_PORT=3306
    depends_on:
     db:
      condition: service_healthy
    networks:
      - app_network

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  db_data: