.Headercontainer{
    align-items: center;
    display: flex;
    padding:20px 0px 20px 0px;
    box-shadow: 2px 2px 20px 2px black;
}
.header-placeholder {
    flex: 1;
}
.title{
    flex-grow: 0.75;
    text-align: center;
    cursor:default;
}
.btn{
    flex-shrink: 0;
}
select{
    margin-top:20px;
    margin-right:20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    width: 250px;
}
select:hover{
    transform: scale(1.05);
    background-color: white;
    color: black;
    border-radius: 20px;
}
select:focus{
    outline: none;
}
option{
    cursor: pointer;
}
.History{
    margin-top:20px;
    margin-right:20px;
    transition: 0.3s;
    background-color: rgb(24, 177, 211);
}
.History:hover{
    transform: scale(1.05);
    background-color: greenyellow;
    color: black;
    border-radius: 20px;
}